@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */

.orange-color{
    color: #E95A08;
}

.gray-color{
    color: rgba(0, 0, 0, 0.5);
}

.black-color{
    color: rgba(0, 0, 0, 1);
}

.btn-primary{
    color: white;
    background-color: #E95A08;
    font-size: 1rem;
    border: none;
    padding: 10px 80px;
}
.btn-secondary{
    color: white;
    background-color: #E95A08;
    font-size: 1rem;
    border: none;
    padding: 10px 80px;
}

/* header style */


/* navbar style */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    
}
.unorder-list ul{
    display: flex;
    gap: 20px;
    
}

.unorder-list ul li{
    list-style: none;
    
}
.unorder-list ul a{
    text-decoration: none;
}

/* banner style */

.banner-container{
    display: flex;
    width: 1140px;
    margin: 0 auto;
}

.banner-title{
    max-width: 570px;
}
.banner-title h2{
    font-size: 4rem;
    margin-bottom: 0;
}
.banner-title p{
    font-size: 1.25rem;
}
.banner-img{
    width: 100%;
}

/* main style */

/* first section */

.card-section{
    max-width: 1140px;
    margin: 0 auto;
}
.all-card-title{
    text-align: center;
}

.all-card-title h3{
    font-size: 3rem;
    margin-bottom: 0;
}

.all-card-title p{
    font-size: 1.25rem;
    width: 65%;
    margin: 0 auto;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 30px 0px;
}

.card-container h3{
    font-size: 1.25rem;
    margin-bottom: 0;
}

.card-container p{
    font-size: 1.25rem;
    margin-top: 5px;
    font-weight: bold;
}

.card-title{
    text-align: center;
    margin: 20px 5px;
}

/* second section */

.plants-section{
    max-width: 1140px;
    margin: 0 auto;
}

.plants-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 180px;
    margin-bottom: 50px;
}

.plants-img{
    position: relative;
    display: inline-block;
}

.badge{
    position: absolute;
    width: 40%;
    margin-left: 400px;
    margin-top: -70px;
}

.plants-title h2{
    font-size: 3rem;
    font-weight: bold;
    padding: 30px;
}

.plants-title li{
    font-size: 1.25rem;
    padding: 10px 0px;
    
}

/* third section */



/* fourth section */

.join-section{
    background-image: url("assets/news-letter-bg.png");
    width: 100%;
    margin: 80px 0px;
    background-size: cover;
    background-position: center;
}

.join-container{
    text-align: center;
    padding: 160px;
}

.join-container h2{
    color: white;
    font-size: 3rem;
    font-weight: bold;

}

.join{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.email{
    font-size: 1rem;
    width: 250%;
    padding: 12px 20px;

}


/* small device responsive */

@media screen and (max-width: 576px){
    .home, 
    .shop, 
    .about-us{
        display: none;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .plants-container{
        flex-direction: column;
    }

    .badge{
        display: none;
    }

    .join-container {
        padding: 60px 20px;
    }

    .email {
        width: 200px;
        padding: 10px 16px;
    }

    .btn-secondary {
        padding: 10px 16px;
    }
}

